{% extends 'ingredients.html' %}
{% block fieldcontent %}
<div class="form-inline">
    <p>Add Ingredient</p>
    <form  method="POST">
        <p>
            <label for="name">Name:</label>
            <input class="name-input" value="" id="name" name="name" />
        </p>
        <p>
            <label for="description">Description:</label>
            <input class = "description-input" value="" id="description" name="description" />
        </p>
        <p>
            <input class="button" type="submit" value="Add Ingredient" name="button"/>
        </p>
    </form>
</div>
{% endblock %}