{% extends 'ingredients.html' %}
{% block fieldcontent %}
<div class="form-inline">
    <p>Edit Ingredient</p>
    <form method="POST">
        <p>
            <label for="name">Name:</label>
            <input class="name-input" value="{{ingredientObj.name}}" name="name" id="name" />
        </p>
        <p>
            <label for="description">Description:</label>
            <input class = "description-input" value="{{ingredientObj.description}}" name="description" id="description" />
        </p>
        <p>
            <input class="button" type="submit" value="Edit Ingredient" name="button"/>
            <input class="button" type="submit" value="Delete Ingredient" name="button"/>
        </p>
    </form>
</div>
{% endblock %}