{% extends 'base.html' %}
{% block title %} Recipe Book - Ingredients {% endblock %}
{% block header %} Ingredients {% endblock %}
{% block summary %} This is the page where you may make changes to ingredients in the recipe book. {% endblock %}
{% block options %}
<!-- options block is where buttons will go, linking to other endpoints -->
<!-- i.e. Add Ingredient button will link to /ingredients/add-ingredient -->

<!-- links work, but not I'm not sure if they are worth it at this moment..-->
<a href="/ingredients/add">Add Ingredient</a>
<a href="/ingredients/edit">Edit Ingredient</a>
<a href="/ingredients/delete">Delete Ingredient</a>


<!-- ok, cannot get the buttons to work  O_o
<button class="button" onclick="addIngredient()">Add Ingredient</button>
<button class="button">Edit Ingredient</button>
<button class="button">Delete Ingredient</button>
<script>
    addIngredient() {
        $("form").attr("action", "/ingredients/add");
    }
</script>
-->

{% endblock %}
{% block content %}
<div class="list">
    <p>Ingredients</p>
    <a href="#">test object</a>
    <a href="#">test object</a>
    <a href="#">test object</a>
    <a href="#">test object</a>
    <!-- Here we will add a list of all ingredients that users may interact with.-->
</div>
{% block fieldcontent %}  {% endblock %}
<!-- content block is where we display remaining page content, such as lists and forms -->
<!-- i.e. list controller with a list of all existing ingredients, and a form for adding/editing an ingredient -->
{% endblock %}