{% extends 'base.html' %}
{% block header %} Ingredients {% endblock %}
{% block content %}
<p>
    This is the page where you may make changes to ingredients in the recipe book.
</p>
<!--add ingredient button-->
<form action="/ingredients/add" method="GET">
    <input class="button" type="submit" name="button" value="Add Ingredient"/>
</form>
<!--list of ingredients-->
<p>Ingredients</p>
<div class="list">
    {% for name, id in nameToIdMap.items() %}
        <a href="/ingredients/edit/id={{id}}">{{name}}</a>
    {% endfor %}
</div>
<!-- fieldcontent block is where we display remaining page content, such as lists and forms -->
<!-- i.e. list controller with a list of all existing ingredients, and a form for adding/editing an ingredient -->
{% block fieldcontent %}  {% endblock %}
{% endblock %}