.menu {
  display: flex;
}

.menu button {
  margin: 10px;
  cursor: pointer;
}

.button_active {
  color: teal;
}

.content_inside {
  display: none;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.content_inside_active {
  display: block;
}