/* name field properties */
.name-input {
    width: 400px;
    display: inline-block;
}

/* description field properties */
.description-input {
    width: 400px;
    height: 100px;
    display: inline-block;
}

/* all label properties */
label {
    width: 100px;
    display: inline-block;
}