
/* Style page content */
.main {
    margin-left: 160px;
    padding: 0px 10px;
}

/* aligns forms with top of lists */
.form-inline {
    margin-top: 0px;
    margin-left: 160px;
    padding: 20px 10px;
    display: inline-block;
    vertical-align: top;
}

/* Main page padding */
.padding {
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
}

/* primary color for texts */
.green {
    color: green;
}

/* dotted lines at the top of each page */
hr.dotted-line {
    border: none;
    border-top: 2px dashed green;
    color: green;
    background-color: #CAFFF2;
    height: 2px;
}

/* button design */
.button {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50;
}