
/* ==========================================================================
Page Layout
========================================================================== */

/* Style page content */
body {
    margin: 0;
}

main {
    margin: 1rem 2rem 6rem;
    max-width: 850px;
}

.main {
    margin: 1rem;

}

/* aligns forms with top of lists */
.form-inline {
    margin-top: 0px;
    margin-left: 160px;
    padding: 20px 10px;
    display: inline-block;
    vertical-align: top;
}

/* ==========================================================================
 Colors
========================================================================== */

/* color for texts */
html {
    --color-text-primary:           #1f2d3d;
    --color-text-secondary:         #005ad1;
    --color-text-white-on-dark:    white;
}

/* colors for other things*/
html {
    --color-peach:                         #F6B585;
    --color-peach-dark:                    #ff7815;
    --color-navy-dark:                     #112433;
    --color-navy-light:                    #005ad1;
    --color-cream:                         #F4EEE0;
    --color-green:                         #4CAF50;
    --color-gray-dark:                     #3c4858;
    --color-black-nearly:                  #1f2d3d;
    --color-white:                         white;

}

/* ==========================================================================
 Typography
========================================================================== */
html {
    --font-headings:            'Roboto', sans-serif;
    --font-body:                'Source Sans Pro', sans-serif;

    --ratio: 1.2;

    --size-5up: calc( var(--size-4up) * var(--ratio));
    --size-4up: calc( var(--size-3up) * var(--ratio));
    --size-3up: calc( var(--size-2up) * var(--ratio));
    --size-2up: calc( var(--size-1up) * var(--ratio));
    --size-1up: calc( 1rem * var(--ratio));
    --size-1down: calc( 1rem / 1.1);

    color: var(--color-text-primary);
    font-family: var(--font-body);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
}

h1 {

    font-size: var(--size-5up);
}

h2 {
    font-size: var(--size-4up);
}

h3 {
    font-size: var(--size-3up);
}

h4 {
    font-size: var(--size-2up);
}

h5 {
    font-size: var(--size-1up);
}

h6 {
    font-size: var(--size-1down);
}

.site-title {
    color: var(--color-peach);
    font-size: var(--size-5up);
}

a {
    color: var(--color-text-primary);
    font-size: var(--size-1up);
    text-decoration: none;
}

a:hover {
    color: var(--color-text-secondary);
}

a:active {
    color: var(--color-text-secondary);
}

a:focus {
    color: var(--color-text-secondary);
}

/* ==========================================================================
 Elements and Components
========================================================================== */
/* dotted lines at the top of each page */
hr.dotted-line {
    border: none;
    border-top: 0.13rem dashed;
    color: var(--color-green);
    background-color: transparent;
    height: 0.13rem;
}

/* button design */
button {
    background-color: var(--color-navy-dark);
    border: none;
    color: var(--color-cream);
    padding: 0.625rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.13rem;
    border-radius: .15em;
    transition-duration: 0.4s;
    cursor: pointer;
}

/*struggling to get hover to work*/
button:hover {
    background color: var(--color-navy-light);
    color: var(--color-cream);
}

/* ==========================================================================
 Header Component
========================================================================== */
header {
    align-items: center;
    background-color: var(--color-navy-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

nav li {
    display: inline-block;
    padding: 1em;
    list-style-type: none;
}

nav a {
    background-color: var(--color-peach);
    border-radius: .15em;
    color: var(--color-text-primary);
    font-size: var(--size-1up);
    padding: .5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--color-peach-dark);
    color: var(--color-text-white-on-dark);
    text-decoration: none;
}

nav a:active {
    background-color: #4CAF50;
    text-decoration: none;
}

nav a:focus {
    text-decoration: none;
}

nav .current {
    background-color: var(--color-peach-dark);
    text-decoration: none;
}

@media (min-width: 432px) {
    nav ul {
        padding-left: 8rem;
    }
}

@media (min-width: 544px) {
    header {
        padding: 0 1rem;
    }

    nav ul {
        font-size: var(--size-3up);
        padding: 0;
    }

    nav li {
        padding: 0 .5em 0 0;
    }
}