{% extends 'base.html' %}
{% block header %} Recipes {% endblock %}
{% block content %}
<!-- options block is where buttons will go, linking to other endpoints -->
<!-- i.e. Add Recipe button will link to /recipes/add-recipe -->
<!--add ingredient button-->
<form action="/recipes/add" method="GET">
    <input class="button" type="submit" name="button" value="Add Recipe"/>
</form>
<!-- ok, cannot get the buttons to work  O_o
<button class="button" onclick="addRecipe()">Add Recipe</button>
<button class="button">Edit Recipe</button>
<button class="button">Delete Recipe</button>
<script>
    addRecipe() {
        $("form").attr("action", "/recipes/add");
    }
</script>
-->
<div class="list">
    <p>Recipes</p>
    {% for name in nameToIdMap.keys() %}
        <a href="#">{{name}}</a>
    {% endfor %}
    <!-- Here we will add a list of all recipes that users may interact with.-->
</div>
{% block fieldcontent %}  {% endblock %}
<!-- content block is where we display remaining page content, such as lists and forms -->
<!-- i.e. list controller with a list of all existing recipes, and a form for adding/editing an recipe -->
{% endblock %}